<!doctype html>
<html class="no-js" lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="robots" content="index,follow" />
  <link rel="preload" as="image" href="/assets/images/mobile/hero.webp" type="image/webp" alt="Seja CardHub">
  <link rel="preload" as="image" href="/assets/images/desktop/hero.webp" type="image/webp" alt="Seja CardHub">
  <title>{{htmlTitle}}</title>
  <meta name="facebook-domain-verification" content="a9taqm1fm4tx4xz3ma99n2dpo20wrv" />
  <link rel="canonical" href="{{htmlCanonical}}">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link rel="dns-prefetch" href="https://use.typekit.net" />
  <link rel="prerender" href="https://www.grupocard.com.br/" as="html">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta name="description" content="{{htmlDescription}}">
  <meta name="theme-color" content="#ff6600">
  <meta name="apple-mobile-web-app-status-bar-style" content="#ff6600">
  <meta name="msapplication-navbutton-color" content="#ff6600">
  <meta name="format-detection" content="telephone=no">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico">
  <script>document.documentElement.className += 'js';</script>
  <link rel="preconnect" href="https://www.google.com.br">
  <link rel="preconnect" href="https://fonts.google.com/">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,500;1,700&family=Roboto:wght@300;400;500;700;900&display=swap"
    rel="stylesheet">
  <link rel="preload" href="/assets/vendor/bootstrap/css/bootstrap.min.css" as="style" onload="this.rel='stylesheet'">
  <link rel="preload" href="/assets/css/style.min.css" as="style" onload="this.rel='stylesheet'">

<body class="{{bodyClass}}">
  {{> body }}

  {{> footer }}

</body>