<footer class="footer-area bg-blue-000">
    <!-- start .container -->
    <div class="container">
        <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
            <div class="col-md-3 col-sm-12">
                <div class="footer-widget">
                    <div class="widget-about">
                        <picture>
                            <source media="(min-width: 993px)" srcset="/assets/logos/logo-card.svg">
                            <img class="img-fluid" src="/assets/logos/logo-card.svg" alt="cores">
                        </picture>
                        
                    </div>
                    <div class="copyright-text">
                        <p>card, É tudo isso. É muito mais © 2023 - Todos os direitos reservados
                        </p>
                    </div>
                </div>
                <!-- Ends: .footer-widget -->
            </div>
            <!-- end /.col-md-4 -->

            <div class="col-md-3 col-sm-4 offset-md-1">
                <div class="footer-widget">
                    <div class="footer-menu">
                        <h4 class="footer-widget-title">Início</h4>
                        <ul>
                            <li>
                                <a href="#about">Sobre a card</a>
                            </li>
                            <li>
                                <a href="#budget">Trabalhe conosco</a>
                            </li>
                           
                            <li>
                                <a href="#depo">Política de privacidade</a>
                            </li>
                            <li>
                                <a href="#depo">Dicas contra fraudes e golpes digitais</a>
                            </li>

                           
                        </ul>
                    </div>
                    <!-- end /.footer-menu -->
                </div>
                <!-- Ends: .footer-widget -->
            </div>
            <!-- end /.col-lg-3 -->

            <div class="col-md-3 col-sm-4">
                <div class="footer-widget">
                    <div class="footer-menu no-padding">
                        <h4 class="footer-widget-title">Fale conosco</h4>
                        <ul>
                            <li> <a href="#" target="_blank">(11) 3003 3304</a></li>
                        </ul>
                    </div>
                    <!-- end /.footer-menu -->
                </div>
                <!-- Ends: .footer-widget -->
            </div>
            <!-- Ends: .col-lg-3 -->
            <div class="col-md-3 col-sm-4">
                <div class="footer-widget">
                    <div class="footer-menu">
                        <h4 class="footer-widget-title">Social</h4>
                        <ul class="social d-flex align-items-center">
                            <li>
                                <a href="https://www.facebook.com/grupocardoficial/?locale=pt_BR" title="Facebook" target="_blank">
                                    <img src="/assets/images/facebook.png" alt="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/grupocard/" target="_blank">
                                    <img src="/assets/images/instagram.png" alt="Instagram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->


    <div class="mini-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                    <a href="https://linkwhats.app/db2490" class="whatsapp-button" target="_blank" style="position: fixed; right:
        15px; bottom: 15px;"><img src="https://i.ibb.co/VgSspjY/whatsapp-button.png" alt="botão
            whatsapp"></a>
                    <button class="scrollTop">
                        <span class="icon arrow-top"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>


</footer>

<script rel="dns-prefetch" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script rel="dns-preconnect" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
<script rel="dns-prefetch" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.5/swiper-bundle.min.js"></script>
<script defer rel="dns-prefetch" src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
    crossorigin="anonymous"></script>
<script defer rel="dns-prefetch" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>


<script defer src="/assets/js/commom.js"></script>
<script type="module" src="/assets/js/app.js"></script>

<script>
    $(function () {
        "use strict";
        AOS.init({
            duration: 1200,
        });

    });

</script>