<header class="header bg-white fixed-top py-3 box-shadow">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a href="/" class="text-transparent">
                <img class="img-fluid img-logo" src="/assets/logos/logo-card.svg" alt="Cotai Empreendimentos">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#openMenu"
                aria-controls="openMenu" aria-expanded="false" aria-label="Abrir Navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="openMenu">
                <ul class="navbar-nav ml-auto">
                    <li><a class="link-hover text-blue-000" href="#about">Sobre Nós</a></li>
                    <li><a class="link-hover text-blue-000" href="#partners">Clientes</a></li>
                    <li><a class="link-hover text-blue-000" href="#budget">Orçamento</a></li>
                    <li><a href="#best-items" class="link-hover text-blue-000">Os Guarda-Chuvas</a></li>
                    <li><a href="#depo" class="link-hover text-blue-000">Depoimentos</a></li>
                </ul>
            </div>
        </nav>
    </div>

</header>